body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }



  /*image background style, overlay, and overlay contents - start*/
.photo-background-holder { /*the only difference here, is the size and the black overlay opacity*/
    position: relative;
    background-color: black;
    height: calc(60vh - 72px); 
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
.photo-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.70;
    z-index: 1;
}

.photo-background-holder img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.photo-background-content { /*Text contents layout*/
    position: relative;
    z-index: 2;
    text-shadow: 2px 2px black;
}
/*image background style, overlay, and overlay contents - end*/



/* fonts*/

h2 {
    font-family: 'Fredoka One', cursive;
    text-shadow: 2px 2px black;
}

h5 {
    font-family: 'Caveat', cursive;
}
