/*video background style, overlay, and overlay contents - start*/
.video-background-holder { /*fixed container size*/
    position: relative;
    background-color: black;
    height: 90vh;
    width: 100%;
    overflow: hidden; /*video can overflow no matter what the width becomes*/
}

.video-background-holder video { /*video placeholder/position*/
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 90%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
}

.video-background-content { /*Text contents layout*/
    position: relative;
    z-index: 2;
    text-shadow: 2px 2px black;
}

.video-background-overlay { /*black-opacity background overlay*/
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
}
/*video background style, overlay, and overlay contents - end*/

.slide-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container:hover .slide-overlay {
    height: 100%;
  }


/*image background style, overlay, and overlay contents - start*/
.photo-background-holder { /*the only difference here, is the size and the black overlay opacity*/
    position: relative;
    background-color: black;
    height: calc(60vh - 72px); 
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
.photo-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.70;
    z-index: 1;
}

.photo-background-holder img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.photo-background-content { /*Text contents layout*/
    position: relative;
    z-index: 2;
    text-shadow: 2px 2px black;
}
/*image background style, overlay, and overlay contents - end*/

#avatars {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid black;
}